@using Garden.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="sign">
    <h1><span class="sign__word">Little Green Square</span></h1>
</div>
<br>

<p>@Html.ActionLink("Plots", "Index", "Plots", null, new {@class= "btn btn-block btn-light"})</p> 
<p>@Html.ActionLink("Seeds", "Index", "Seeds", null, new {@class= "btn btn-block btn-light"})</p>
<!-- <p class="btn btn-block btn-light">@Html.ActionLink("Squarefoots", "Index", "Squarefoots")</p> -->
<p>@Html.ActionLink("Create an Account", "Index", "Account", null, new {@class= "btn btn-block btn-light"})</p>
<p>@Html.ActionLink("Logout", "Index", "Account", null, new {@class= "btn btn-block btn-light"})</p>