@{
  Layout = "_Layout";
}
@model Garden.Models.Seed;

<div class="behind">
<h1>Seed Info:</h1>
<hr>

    <h3 class="SeedText">@Model.SeedName</h3>
    <p>Plants Per Square Foot: @Model.SqFootPlant</p>
    <p>Days Unil Harvest: @Model.DaysTillHarvest</p>
    <p>Water Interval: @Model.WaterInterval</p>
    <p>Days Until Sprout: @Model.DaysTillSprout</p>
    <p>Companions: @Model.Companions</p>
    <p>Enemies: @Model.Enemies</p>
    <p>Notes: @Model.Notes</p>
    <p>Zone: @Model.Zone</p>

<br>

<p class="btn btn-light">@Html.ActionLink("Edit", "Edit", new { id = @Model.SeedId})</p>
<p class="btn btn-light">@Html.ActionLink("Delete", "Delete", new { id = @Model.SeedId})</p>
<p class="btn btn-light">@Html.ActionLink("Back to Seeds", "Index")</p>
</div>