@using Garden.Models;
@{
  Layout = "_Layout";
}

@model Garden.Models.Seed

<div class="behind">
<h3 class="SeedText">Edit Seed: @Model.SeedName</h3>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SeedId)
  <h4>@Html.Label("Seed Name")</h4>
  @Html.EditorFor(model=> model.SeedName, new { htmlAttributes = new { @class = "form-control" }})
  <br>
  <h4>@Html.Label("Feet Needed by Plant")</h4>
  @Html.EditorFor(model => model.SqFootPlant, new { htmlAttributes = new { @class = "form-control", @type = "number"}})
  <br>
  <h4>@Html.Label("Days Until Harvest")</h4>
  @Html.EditorFor(model => model.DaysTillHarvest, new { htmlAttributes = new { @class = "form-control", @placeholder = "1x a Week"}})
  <br>
  <h4>@Html.Label("Water Interval")</h4> 
  @Html.EditorFor(model => model.WaterInterval, new { htmlAttributes = new { @class = "form-control", @placeholder = "1"}})
  <br>
  <h4>@Html.Label("Days Until Sprout") </h4>
  @Html.EditorFor(model => model.DaysTillSprout, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder="Expected Sprout Day"}})
  <br>
  <h4>@Html.LabelFor(model => model.Companions)</h4>
  @Html.EditorFor(model => model.Companions, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder="Potatoes"}})
  <br>
  <h4>@Html.LabelFor(model => model.Enemies)</h4>
  @Html.EditorFor(model => model.Enemies, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder="Cabbage"}})
  <br>
  <h4>@Html.LabelFor(model => model.Notes)</h4>
  @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder="This plant requires xyz."}})
  <br>
  <h4>@Html.LabelFor(model => model.Zone)</h4>
  @Html.EditorFor(model => model.Zone, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder="1, 2, 3, 4, etc."}})
  <br>
  <input type="submit" value="Save" class="btn btn-light"/>
}

</div>
