@{
  Layout = "_Layout";
}

@* @model Garden.Models.Plot;

<h2>@Model.Name</h2>

@if (@Model.Count == 0)
{
  <p>This plot has no tags.</p>
}
else
{
<h4>Sun: @Model.Sun</h4>
<h5><em>Soil: @Model.Soil</em></h5>

<h4>Hardiness: @Model.Hardiness</h4>
<h4>Plot Size: @Model.Width X @Model.Length X @Model.Depth</h4>

}

<p class="btn btn-light">@Html.ActionLink("Edit this Plot", "Edit", new { id = Model.PlotId }, new { @class = "ButtonText" })</p>
<p class="btn btn-light">@Html.ActionLink("Delete this Plot", "Delete", new { id = Model.PlotId}, new { @class = "ButtonText"})</p> *@