@{
  Layout = "_Layout";
}

@model Garden.Models.Plot


<h2>@Html.DisplayFor(model => model.Name)</h2>

<h2>Here's your Plot: </h2>

<div class="plot">
  <section id="top-bar">
    <div id="clone-container">
      <div id="scroll-box" ondragover="allowDrop(event)" ondrop="returnSeed(event)">
        <div id="tile-container">

          <div class="tile-wrapper">
            <div draggable= "true" id="tile" class = "tile" ondragstart="drag(event)">Tomatoes</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" id="tile2" class ="tile" ondragstart="drag(event)">Cabbage</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" id="tile3" class ="tile" ondragstart="drag(event)">Corn</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" id="tile4" class ="tile" ondragstart="drag(event)">Zucchini</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" id="tile5" class ="tile" ondragstart="drag(event)">Cucumber</div>
          </div>
          <div class="tile-wrapper"> 
            <div draggable= "true" id="tile6" class ="tile" ondragstart="drag(event)">Pumpkin</div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="content"></section>
  <div id="drop-panel">
    <h3>DRAG ITEMS HERE</h3>
    <h4>@Model.Width X @Model.Length X @Model.Depth </h4> 

    @{ int sqFeet = @Model.Width * @Model.Length; }
    @for(int i = 1; i <= sqFeet; i++)
    {
      <div id="div@i" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    }
  </div>
</div>


<div class="behind">
<h4>Sun Needed: @Model.Sun</h4>
<h5><em>Soil Type: @Model.Soil</em></h5>

<h4>Hardiness: @Model.Hardiness</h4>
<h4>Plot Size: @Model.Width X @Model.Length X @Model.Depth</h4>



<p class="btn btn-light">@Html.ActionLink("Edit this Plot", "Edit", new { id = Model.PlotId }, new { @class = "ButtonText" })</p>
<p class="btn btn-light">@Html.ActionLink("Delete this Plot", "Delete", new { id = Model.PlotId}, new { @class = "ButtonText"})</p>
</div>
